<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.first_name }} {{ student.last_name }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>{{ student.first_name }} {{ student.last_name }}</h2>
    <ol class="student"><li>Email: <span class="info">{{ student.username }}@oxy.edu</span></li>
    <li>Majors: <span class="info">{{ student.majors }}</span></li>
    <li>Advisor: <span class="info">{{ student.advisor }}</span></li></ol>
    <p>
        <a href="/directory/{{ prev_student.username }}">Previous</a>
        <a href="/directory/{{ next_student.username }}">Next</a>
    </p>
</body>
</html>
